<template name="nuevoMontoVenta">
  <div class="row">
    <div class="col-xs-12">
      <div class="card card-top-buffer">
        <div class="card-header">
          <div class="card-title">
            <div class="title">Nuevo monto de venta</div>
          </div>
        </div>
        <div class="card-body">
          {{#if Template.subscriptionsReady}}
            {{#autoForm collection='MontosVenta' id='insertMontoVentaForm' type='insert'}}
              {{> afQuickField name='anio'}}
              {{> afQuickField name='semestre'}}
              {{> afQuickField name='zonaID'}}
              {{> afQuickField name='provinciaID'}}
              {{> afQuickField name='cialcos'}}
              <button type='submit' class='btn btn-success'>GUARDAR</button>
            {{/autoForm}}
          {{else}}
            {{> spinner}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
