<template name="nuevaRed">
  {{#if Template.subscriptionsReady}}
    <div class="row animated fadeIn">
      <div class="col-xs-12">
        <div class="card card-top-buffer">
          <div class="card-body">
            {{#autoForm collection='Redes' id='insertRedForm' type='insert' validation='keyup'}}
              {{> afQuickField name='periodo.0.anio'}}
              {{> afQuickField name='periodo.0.cuatrimestre'}}
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">Ubicación</legend>
                {{> afQuickField name='zonaID'}}
                {{> afQuickField name='provinciaID'}}
                {{> afQuickField name='cantonID'}}
                {{> afQuickField name='parroquiaID'}}
              </fieldset>
              {{> afQuickField name='nombreRed'}}
              {{> afQuickField name='estado'}}
              {{> afQuickField name='organizaciones' class='s2b'}}
              {{> afQuickField name='cialcos' class='s2b'}}
              <fieldset class="custom-fieldset">
                <legend class="custom-legend">Datos del representante de la red</legend>
                {{> afQuickField name='cedulaRepresentante'}}
                {{> afQuickField name='nombreRepresentante'}}
                {{> afQuickField name='telefonoFijoRepresentante'}}
                {{> afQuickField name='celularRepresentante'}}
                {{> afQuickField name='emailRepresentante'}}
              </fieldset>
              {{> afQuickField name='observaciones'}}
              <button type='submit' class='btn btn-success'>GUARDAR</button>
            {{/autoForm}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    {{> spinner}}
  {{/if}}
</template>
