<template name="nuevaRed">
  <div class="page-header-2">
    <h3>Nueva red</h3>
  </div>
  {{#autoForm collection='Redes' id='insertRedForm' type='insert'}}
    {{> afQuickField name='cuatrimestre'}}
    {{> afQuickField name='zona'}}
    {{> afQuickField name='provinciaID'}}
    {{> afQuickField name='nombreRed'}}
    {{> afQuickField name='estado'}}
    {{> afQuickField name='nombreOrganizaciones' class='s2b'}}
    {{> afQuickField name='nombreRepresentante'}}
    {{> afQuickField name='telefonoFijoRepresentante'}}
    {{> afQuickField name='celularRepresentante'}}
    {{> afQuickField name='emailRepresentante'}}
    {{> afQuickField name='observaciones'}}

    <button type='submit' class='btn btn-success btn-bottom-buffer'>GUARDAR</button>
  {{/autoForm}}
</template>
