<template name="redes">
  <div class="row animated fadeIn">
    <div class="col-xs-12">
      <div class="card card-top-buffer">
        <div class="card-header">
          <div class="card-title">
            <div class="title">Lista de redes</div>
          </div>
          <a class="btn btn-success pull-right btn-top-buffer" title="Nueva Red" href="{{pathFor 'nueva-red'}}">Nueva red</a>
        </div>
        <div class="card-body">
          {{> tabular table=TabularTables.Redes class="table table-striped table-bordered table-condensed"}}
        </div>
      </div>
    </div>
  </div>
</template>
