body {
  font-size: 13px;
  color: #676a6c;
  padding-top: 65px;
}
#logo {
  background: url("logo.png") no-repeat;
  background-size: 35px;
  height: 35px;
  width: 35px;
  float: left;
  margin: -8px 7px 0 0;
}
.navbar-brand {
  margin-left: -17px !important;
}
.navbar {
  font-size: 14px;
}
.navbar-right {
  font-size: 13px;
}
.page-header-2 {
  padding-bottom: 4px;
  margin: -10px 0 25px;
  border-bottom: 1px solid #eee;
}
.btn-top-buffer {
  margin-top: 16px;
}
.btn-bottom-buffer {
  margin-bottom: 70px;
}
.select2-container--default .select2-selection--multiple {
  border-color: #CCC !important;
}
