#logo {
  background: url("logo.png") no-repeat;
  background-size: 35px;
  height: 35px;
  width: 35px;
  float: left;
  margin: -8px 7px 0 0;
}
.page-header-2 {
  padding-bottom: 4px;
  margin: -10px 0 40px;
  border-bottom: 1px solid #eee;
}
.btn-top-buffer {
  margin-top: 16px;
}
.btn-bottom-buffer {
  margin-bottom: 70px;
}

