body {
  font-size: 13px;
  color: #676a6c;
  padding-top: 65px;
}
#logo {
  background: url("logo.png") no-repeat;
  background-size: 35px;
  height: 35px;
  width: 35px;
  float: left;
  margin: -8px 7px 0 0;
}
.navbar-brand {
  margin-left: -17px !important;
}
.navbar {
  font-size: 14px;
}
.navbar-right {
  font-size: 13px;
}
.page-header-2 {
  padding-bottom: 4px;
  margin: -10px 0 25px;
  border-bottom: 1px solid #eee;
}
.btn-top-buffer {
  margin-top: 16px;
}
.btn-bottom-buffer {
  margin-bottom: 70px;
}
.bottom-buffer {
  margin-bottom: 10px;
}
.select2-container--default .select2-selection--multiple {
  border-color: #CCC !important;
}
[data-required] label:not(.radio-inline):after {
  content: ' *'
}
.custom-fieldset {
  border: 1px groove #ccc !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  border-radius: 5px !important;
}
.custom-legend {
  color: #676a6c;
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
