<template name="authenticatedNavigation">
  <ul class="nav navbar-nav">
    {{#if isInRole 'admin'}}
      <li class="dropdown {{currentRoute 'cialcos'}} {{currentRoute 'nuevo-cialco'}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          CIALCOs <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{{pathFor 'cialcos'}}">Lista de CIALCOs</a></li>
          <li><a href="{{pathFor 'nuevo-cialco'}}">Nuevo CIALCO</a></li>
        </ul>
      </li>

      <li class="dropdown {{currentRoute 'organizaciones'}} {{currentRoute 'nueva-organizacion'}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          Organizaciones <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{{pathFor 'organizaciones'}}">Lista de organizaciones</a></li>
          <li><a href="{{pathFor 'nueva-organizacion'}}">Nueva organización</a></li>
        </ul>
      </li>

      <li class="dropdown {{currentRoute 'redes'}} {{currentRoute 'nueva-red'}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          Redes <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{{pathFor 'redes'}}">Lista de redes</a></li>
          <li><a href="{{pathFor 'nueva-red'}}">Nueva red</a></li>
        </ul>
      </li>

      <li class="dropdown {{currentRoute 'productores'}} {{currentRoute 'nuevo-productor'}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          Productores <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{{pathFor 'productores'}}">Lista de productores</a></li>
          <li><a href="{{pathFor 'nuevo-productor'}}">Nuevo productor</a></li>
        </ul>
      </li>

      <li class="dropdown {{currentRoute 'metas'}} {{currentRoute 'nuevas-metas'}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          Metas <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{{pathFor 'metas'}}">Lista de metas</a></li>
          <li><a href="{{pathFor 'nuevas-metas'}}">Nuevas metas</a></li>
        </ul>
      </li>

      <li class="dropdown {{currentRoute 'montos-venta'}} {{currentRoute 'nuevo-monto-venta'}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          Montos de venta <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{{pathFor 'montos-venta'}}">Lista de montos de venta</a></li>
          <li><a href="{{pathFor 'nuevo-monto-venta'}}">Nuevo monto de venta</a></li>
        </ul>
      </li>

      <li class="dropdown {{currentRoute 'respaldos'}} {{currentRoute 'nuevo-respaldo'}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          Respaldos <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{{pathFor 'respaldos'}}">Lista de respaldos</a></li>
          <li><a href="{{pathFor 'nuevo-respaldo'}}">Nuevo respaldo</a></li>
        </ul>
      </li>

      <li class="{{currentRoute 'users'}}"><a href="{{pathFor 'users'}}">Usuarios</a></li>
    {{/if}}
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" title="{{currentUser.emails.[0].address}}" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="logout"><a href="#">Cerrar sesión ({{currentUser.emails.[0].address}})</a></li>
      </ul>
    </li>
  </ul>
</template>
