<template name="authenticatedNavigation">
  <ul class="nav navbar-nav">
    {{#if isInRole 'admin'}}

      <!--CIALCOs-->
      <li class="dropdown {{currentRoute 'cialcos'}} {{currentRoute 'nuevo-cialco'}}">
        <a data-toggle="collapse" href="#dropdown-cialcos">
          <span class="icon fa fa-balance-scale"></span><span class="title">CIALCOs</span>
        </a>
        <div id="dropdown-cialcos" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav navbar-nav">
              <li><a href="{{pathFor 'cialcos'}}">Lista de CIALCOs</a></li>
              <li><a href="{{pathFor 'nuevo-cialco'}}">Nuevo CIALCO</a></li>
            </ul>
          </div>
        </div>
      </li>

      <!--Organizaciones-->
      <li class="dropdown {{currentRoute 'organizaciones'}} {{currentRoute 'nueva-organizacion'}}">
        <a data-toggle="collapse" href="#dropdown-organizaciones">
          <span class="icon fa fa-sitemap"></span><span class="title">Organizaciones</span>
        </a>
        <div id="dropdown-organizaciones" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav navbar-nav">
              <li><a href="{{pathFor 'organizaciones'}}">Lista de organizaciones</a></li>
              <li><a href="{{pathFor 'nueva-organizacion'}}">Nueva organización</a></li>
            </ul>
          </div>
        </div>
      </li>

      <!--Redes-->
      <li class="dropdown {{currentRoute 'redes'}} {{currentRoute 'nueva-red'}}">
        <a data-toggle="collapse" href="#dropdown-redes">
          <span class="icon fa fa-connectdevelop"></span><span class="title">Redes</span>
        </a>
        <div id="dropdown-redes" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav navbar-nav">
              <li><a href="{{pathFor 'redes'}}">Lista de redes</a></li>
              <li><a href="{{pathFor 'nueva-red'}}">Nueva red</a></li>
            </ul>
          </div>
        </div>
      </li>

      <!--Productores-->
      <li class="dropdown {{currentRoute 'productores'}} {{currentRoute 'nuevo-productor'}}">
        <a data-toggle="collapse" href="#dropdown-productores">
          <span class="icon fa fa-child"></span><span class="title">Productores</span>
        </a>
        <div id="dropdown-productores" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav navbar-nav">
              <li><a href="{{pathFor 'productores'}}">Lista de productores</a></li>
              <li><a href="{{pathFor 'nuevo-productor'}}">Nuevo productor</a></li>
            </ul>
          </div>
        </div>
      </li>

      <!--Metas-->
      <li class="dropdown {{currentRoute 'metas'}} {{currentRoute 'nuevas-metas'}}">
        <a data-toggle="collapse" href="#dropdown-metas">
          <span class="icon fa fa-dot-circle-o"></span><span class="title">Metas</span>
        </a>
        <div id="dropdown-metas" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav navbar-nav">
              <li><a href="{{pathFor 'metas'}}">Lista de metas</a></li>
              <li><a href="{{pathFor 'nuevas-metas'}}">Nuevas metas</a></li>
            </ul>
          </div>
        </div>
      </li>

      <!--Montos de venta-->
      <li class="dropdown {{currentRoute 'montos-venta'}} {{currentRoute 'nuevo-monto-venta'}}">
        <a data-toggle="collapse" href="#dropdown-montos-venta">
          <span class="icon fa fa-usd"></span><span class="title">Montos de venta</span>
        </a>
        <div id="dropdown-montos-venta" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav navbar-nav">
              <li><a href="{{pathFor 'montos-venta'}}">Lista de montos de venta</a></li>
              <li><a href="{{pathFor 'nuevo-monto-venta'}}">Nuevo monto de venta</a></li>
            </ul>
          </div>
        </div>
      </li>

      <!--Respaldos-->
      <li class="dropdown {{currentRoute 'respaldos'}} {{currentRoute 'nuevo-respaldo'}}">
        <a data-toggle="collapse" href="#dropdown-respaldos">
          <span class="icon fa fa-paperclip"></span><span class="title">Respaldos</span>
        </a>
        <div id="dropdown-respaldos" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="nav navbar-nav">
              <li><a href="{{pathFor 'respaldos'}}">Lista de respaldos</a></li>
              <li><a href="{{pathFor 'nuevo-respaldo'}}">Nuevo respaldo</a></li>
            </ul>
          </div>
        </div>
      </li>

      <!--Usuarios-->
      <li class="{{currentRoute 'users'}}">
        <a href="{{pathFor 'users'}}">
          <span class="icon fa fa-user-secret "></span><span class="title">Usuarios</span>
        </a>
      </li>
    {{/if}}
  </ul>
</template>
