<template name="nuevoRespaldo">
  {{#if Template.subscriptionsReady}}
  <div class="row animated fadeIn">
    <div class="col-xs-12">
      <div class="card card-top-buffer">
        <div class="card-header">
          <div class="card-title">
            <div class="title">Nuevo respaldo</div>
          </div>
        </div>
        <div class="card-body">
            {{#autoForm collection='Respaldos' id='insertRespaldoForm' type='insert'}}
              {{> afQuickField name='anio'}}
              {{> afQuickField name='periodo'}}
              {{> afQuickField name='zonaID'}}
              {{> afQuickField name='provinciaID'}}
              {{> afQuickField name='respaldos'}}
              <button type='submit' class='btn btn-success'>GUARDAR</button>
            {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
  {{else}}
    {{> spinner}}
  {{/if}}
</template>
