<template name="nuevaOrganizacion">
  <div class="page-header-2">
    <h3>Nueva organización</h3>
  </div>
  {{#autoForm collection='Organizaciones' id='insertOrganizacionForm' type='insert'}}
    {{> afQuickField name='zona'}}
    {{> afQuickField name='provinciaID'}}
    {{> afQuickField name='cantonID'}}
    {{> afQuickField name='localidad'}}
    {{> afQuickField name='anio'}}
    {{> afQuickField name='cuatrimestre'}}
    {{> afQuickField name='nombreOrganizacion'}}
    {{> afQuickField name='seps' datePickerOptions=datePickerOptions}}
    {{> afQuickField name='acreditacionMagap' datePickerOptions=datePickerOptions}}
    {{> afQuickField name='nombreRepresentante'}}
    {{> afQuickField name='telefonoFijoRepresentante'}}
    {{> afQuickField name='celularRepresentante'}}
    {{> afQuickField name='emailRepresentante'}}
    {{> afQuickField name='productoresOrganizacion'}}
    {{> afQuickField name='productoresCialco'}}


    <button type='submit' class='btn btn-success btn-bottom-buffer'>GUARDAR</button>
  {{/autoForm}}
</template>
