<template name="nuevoProductor">
  <div class="page-header-2">
    <h3>Nuevo productor</h3>
  </div>
  {{#if Template.subscriptionsReady}}
    {{#autoForm collection='Productores' id='insertProductorForm' type='insert'}}
      {{> afQuickField name='anio'}}
      {{> afQuickField name='cuatrimestre'}}
      {{> afQuickField name='zonaID'}}
      {{> afQuickField name='provinciaID'}}
      {{> afQuickField name='cantonID'}}
      {{> afQuickField name='parroquiaID'}}
      {{> afQuickField name='cedula'}}
      {{> afQuickField name='apellidos'}}
      {{> afQuickField name='nombres'}}
      {{> afQuickField name='edad'}}
      {{> afQuickField name='sexo'}}
      {{> afQuickField name='estadoCivil'}}
      {{> afQuickField name='telefonoFijoContacto'}}
      {{> afQuickField name='celularContacto'}}
      {{> afQuickField name='emailContacto'}}
      {{> afQuickField name='organizaciones' class='s2b'}}
      {{> afQuickField name='cialcos' class='s2b'}}
      <button type='submit' class='btn btn-success btn-bottom-buffer'>GUARDAR</button>
    {{/autoForm}}
  {{else}}
    {{> spinner}}
  {{/if}}
</template>
